Prompt/IT Development Trend Research and Multi-Format Content Creation (1).json
{
  "name": "IT Development Trend Research and Multi-Format Content Creation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "04be8293-45a0-4144-8d5b-e5e7a88d8719",
      "name": "Schedule Daily Trend Collection",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -448,
        192
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "date",
              "value": "={{ $now.toFormat('yyyy-MM-dd') }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "workflow_name",
              "value": "IT Development Trend Research",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "target_audience",
              "value": "IT개발자가 되고 싶은 사람들",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7d37553c-f185-44e5-8d5a-c4f4879ebdfe",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -224,
        192
      ]
    },
    {
      "parameters": {
        "url": "https://news.ycombinator.com/rss",
        "options": {
          "customFields": "",
          "ignoreSSL": false
        }
      },
      "id": "85d91f39-77f0-498f-b52e-67ec2ed8d729",
      "name": "Read Tech News RSS Feeds",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/search/repositories?q=created:>{{ $now.minus({days: 7}).toFormat('yyyy-MM-dd') }}&sort=stars&order=desc&per_page=20",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-workflow"
            }
          ]
        },
        "options": {}
      },
      "id": "4550c364-927c-4f2c-b690-33813fbb21ae",
      "name": "Fetch GitHub Trending",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        192
      ]
    },
    {
      "parameters": {
        "url": "https://api.stackexchange.com/2.3/tags?order=desc&sort=popular&site=stackoverflow&pagesize=20",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "af7d5ac5-da2a-41f9-a681-3323a8815b90",
      "name": "Fetch Stack Overflow Trends",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        384
      ]
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "8bf530bb-5503-4c10-aaac-595692459045",
      "name": "Combine All Trend Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        224,
        176
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "73ff275e-1817-4193-a924-ca3bf2386495",
      "name": "Aggregate Trend Data",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        448,
        192
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=다음 트렌드 데이터를 분석하여 콘텐츠를 생성해주세요:\n\n{{ $json }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "당신은 IT 개발 트렌드 전문가입니다. 수집된 최신 개발 트렌드 데이터를 분석하여 2026년에 IT개발자가 되고 싶은 사람들을 위한 콘텐츠를 생성하는 역할을 합니다. 다음 형식으로 콘텐츠를 생성하세요:\n1. 블로그 포스트 (1500-2000자, 마크다운 형식)\n2. 뉴스레터 (800-1000자, HTML 형식)\n3. 카드뉴스 텍스트 (5개 슬라이드, 각 슬라이드당 50-80자)\n4. 숏츠 스크립트 (60초 분량, 300-400자)\n\n각 콘텐츠는 초보자도 이해하기 쉽게 작성하고, 실용적인 학습 팁을 포함하세요.\n\n\"You have all the necessary information in the context. Do NOT use the search tool unless absolutely necessary. Prioritize generating the output immediately based on the provided text.\""
        }
      },
      "id": "6af4ef11-60ff-4647-9128-504e7940ca77",
      "name": "AI Content Generator",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        736,
        192
      ]
    },
    {
      "parameters": {
        "options": {
          "hl": "={{ $fromAI('Language', ``, 'string') }}"
        }
      },
      "id": "7524e95b-fc66-4961-ad6e-90b4976bd715",
      "name": "Google Search Tool",
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        800,
        496
      ],
      "credentials": {
        "serpApi": {
          "id": "XUKDP8JULnaIl86Q",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"blog_post\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"블로그 포스트 전체 내용 (마크다운 형식)\"\n\t\t},\n\t\t\"newsletter\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"뉴스레터 전체 내용 (HTML 형식)\"\n\t\t},\n\t\t\"card_news_slides\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"description\": \"카드뉴스 5개 슬라이드 텍스트 배열\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t}\n\t\t},\n\t\t\"shorts_script\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"숏츠 스크립트 (60초 분량)\"\n\t\t},\n\t\t\"main_trends\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"description\": \"주요 트렌드 키워드 배열\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t}\n\t\t},\n\t\t\"card_news_prompts\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"description\": \"카드뉴스 이미지 생성을 위한 DALL-E 프롬프트 5개\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t}\n\t\t}\n\t}\n}"
      },
      "id": "590724d9-11ac-45aa-b8c6-2cdbc8891fc2",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        928,
        416
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "content_date",
              "value": "={{ $('Workflow Configuration').item.json.date }}",
              "type": "string"
            },
            {
              "id": "e95be7ac-7118-41d7-b60b-a7524c5cac0c",
              "name": "=blog_post",
              "value": "={{ $json.output.blog_post }}",
              "type": "string"
            },
            {
              "id": "efa4f991-ca98-4b2f-94f1-272ec05e7b3e",
              "name": "newsletter",
              "value": "={{ $json.output.newsletter }}",
              "type": "string"
            },
            {
              "id": "1b3cd046-1681-4bb0-ac8b-c4a9977eaff0",
              "name": "main_trends",
              "value": "={{ $json.output.main_trends }}",
              "type": "string"
            },
            {
              "id": "624ffecf-4201-4994-ae64-62dc9335a1f5",
              "name": "card_news_prompts",
              "value": "={{ $json.output.card_news_prompts }}",
              "type": "array"
            },
            {
              "id": "id-8",
              "name": "status",
              "value": "Ready for Editor",
              "type": "string"
            },
            {
              "id": "eb2c6d20-0908-460d-9c34-12628f9a9e8a",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "028e4f8b-eff6-43cb-8d03-7f53da77390a",
      "name": "Format Editor Content",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1360,
        192
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1-S4QLWr8KnG_U_zF7jLBgfpr9XwwhiRJ7T2FDIzOYts",
          "mode": "list",
          "cachedResultName": "IT development contents source ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-S4QLWr8KnG_U_zF7jLBgfpr9XwwhiRJ7T2FDIzOYts/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "c8bffcfa-b0fa-4a23-8a2e-b411ee7b5831",
      "name": "Save to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1584,
        192
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9q8v0NsQu22Ls5ob",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        672,
        416
      ],
      "id": "d3519716-ad13-48c2-a4a8-97d86951c31e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "VjSipKQWJc1rNUoU",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1136,
        192
      ],
      "id": "c83ac038-c7a4-49dd-bac2-bd5781c4fbd0",
      "name": "Generate an image",
      "credentials": {
        "googlePalmApi": {
          "id": "s0n8XjX7P2n6Tz3f",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "disabled": true
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Daily Trend Collection": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Read Tech News RSS Feeds",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch GitHub Trending",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Stack Overflow Trends",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Tech News RSS Feeds": {
      "main": [
        [
          {
            "node": "Combine All Trend Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch GitHub Trending": {
      "main": [
        [
          {
            "node": "Combine All Trend Sources",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fetch Stack Overflow Trends": {
      "main": [
        [
          {
            "node": "Combine All Trend Sources",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Combine All Trend Sources": {
      "main": [
        [
          {
            "node": "Aggregate Trend Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Trend Data": {
      "main": [
        [
          {
            "node": "AI Content Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Search Tool": {
      "ai_tool": [
        []
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Content Generator",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Content Generator": {
      "main": [
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Editor Content": {
      "main": [
        [
          {
            "node": "Save to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Content Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        [
          {
            "node": "Format Editor Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "39482ede-032b-4478-b879-b5bbe8e2d7e2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e45ad64c8bd030e4c58e30da9ab9256536b6f0604fb2406f5b9fe015fa69330a"
  },
  "id": "j4sFevQGsJFGxeNbC4U89",
  "tags": []
}